ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-BOLT-DIA MM
UNITS-BOLT-LENGTH MM
UNITS-WEIGHT KGS
PIPE
    UNIQUE-COMPONENT-IDENTIFIER 156f075f-bd27-4340-baee-3f63c7cfa87f
    END-POINT       -107453.3648 -222115.9803    1916.7385    150   PL
    END-POINT       -109124.5679 -222115.9803    1916.7385    150   PL
