ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-BOLT-DIA MM
UNITS-BOLT-LENGTH MM
UNITS-WEIGHT KGS
PIPELINE-REFERENCE wp1-ws1-1-iso-1
    PIPING-SPEC mExample
    ATTRIBUTE1 Metric
    ATTRIBUTE2 
    ATTRIBUTE3 ws1
    ;ATTRIBUTE4 wp1-ws1-1-iso-1
    ATTRIBUTE5 wu1
    ATTRIBUTE6 wp1
    ATTRIBUTE7 150
    ATTRIBUTE8 0
    ATTRIBUTE99 END
PIPE
    END-POINT       -107453.3648 -222115.9803    1916.7385    150   PL
    END-POINT       -109124.5679 -222115.9803    1916.7385    150   PL
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 156f075f-bd27-4340-baee-3f63c7cfa87f
    PIPING-SPEC mExample
    ITEM-CODE EZGQSR60
WELD
    END-POINT       -107453.3648 -222115.9803    1916.7385    150     
    END-POINT       -107453.3648 -222115.9803    1916.7385    150     
    SKEY WW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER d6fe639c-d77b-49f6-b7e3-a5d85606db33
ELBOW
    END-POINT       -107224.7648 -222115.9803    1688.1385    150   BW
    END-POINT       -107453.3648 -222115.9803    1916.7385    150   BW
    CENTRE-POINT    -107224.7648 -222115.9803    1916.7385            
    SKEY ELBW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER d41a3f5d-b371-4449-b4bb-84ea3809b478
    PIPING-SPEC mExample
    ITEM-CODE 3915UFPN
    ANGLE 9000
WELD
    END-POINT       -107224.7648 -222115.9803    1688.1385    150     
    END-POINT       -107224.7648 -222115.9803    1688.1385    150     
    SKEY WW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 46e5b5f0-9cb4-4872-a7c3-8691d92bd4d8
PIPE
    END-POINT       -107224.7648 -222115.9803     228.6000    150   PL
    END-POINT       -107224.7648 -222115.9803    1688.1385    150   PL
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 546e5beb-5729-4c56-a50d-5c51ad077a27
    PIPING-SPEC mExample
    ITEM-CODE EZGQSR60
WELD
    END-POINT       -107224.7648 -222115.9803     228.6000    150     
    END-POINT       -107224.7648 -222115.9803     228.6000    150     
    SKEY WW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 46b0ea91-32f3-49df-8b43-d02c0d9c72a4
ELBOW
    END-POINT       -107224.7648 -222344.5803       0.0000    150   BW
    END-POINT       -107224.7648 -222115.9803     228.6000    150   BW
    CENTRE-POINT    -107224.7648 -222115.9803       0.0000            
    SKEY ELBW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER f493a6d9-caa2-4cd6-827b-84f44061ade5
    PIPING-SPEC mExample
    ITEM-CODE 3915UFPN
    ANGLE 9000
WELD
    END-POINT       -107224.7648 -222344.5803       0.0000    150     
    END-POINT       -107224.7648 -222344.5803       0.0000    150     
    SKEY WW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER b5e8a8c0-60f8-4035-8010-11a8ad5d1b28
PIPE
    END-POINT       -107224.7648 -223557.5852       0.0000    150   PL
    END-POINT       -107224.7648 -222344.5803       0.0000    150   PL
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 07947a1d-8ad8-4f79-bb22-bcd9e4a14140
    PIPING-SPEC mExample
    ITEM-CODE EZGQSR60
WELD
    END-POINT       -107224.7648 -223557.5852       0.0000    150     
    END-POINT       -107224.7648 -223557.5852       0.0000    150     
    SKEY WW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 9891ba1f-812e-4f1b-a4d9-406459c51870
ELBOW
    END-POINT       -107292.0813 -223720.1018       0.0000    150   BW
    END-POINT       -107224.7648 -223557.5852       0.0000    150   BW
    CENTRE-POINT    -107224.7648 -223652.7852       0.0000            
    SKEY ELBW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 17582c24-ab8d-4a42-8f33-c13f3f60d8f8
    PIPING-SPEC mExample
    ITEM-CODE 3915PKPN
    ANGLE 4500
WELD
    END-POINT       -107292.0813 -223720.1018       0.0000    150     
    END-POINT       -107292.0813 -223720.1018       0.0000    150     
    SKEY WW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 28199141-65fb-4ad1-ba2e-04015dd01ccd
PIPE
    END-POINT       -107816.8028 -224244.8232       0.0000    150   PL
    END-POINT       -107292.0813 -223720.1018       0.0000    150   PL
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 5f36e89b-eab1-4bd6-917f-f6f29faab391
    PIPING-SPEC mExample
    ITEM-CODE EZGQSR60
WELD
    END-POINT       -107816.8028 -224244.8232       0.0000    150     
    END-POINT       -107816.8028 -224244.8232       0.0000    150     
    SKEY WW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 5d5afe30-5983-47b7-b67e-7c37dc2aca01
ELBOW
    END-POINT       -107979.3193 -224312.1397       0.0000    150   BW
    END-POINT       -107816.8028 -224244.8232       0.0000    150   BW
    CENTRE-POINT    -107884.1193 -224312.1397       0.0000            
    SKEY ELBW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 3dedd7ba-81e8-4a65-903b-2d3320202be6
    PIPING-SPEC mExample
    ITEM-CODE 3915PKPN
    ANGLE 4500
WELD
    END-POINT       -107979.3193 -224312.1397       0.0000    150     
    END-POINT       -107979.3193 -224312.1397       0.0000    150     
    SKEY WW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER cc32f022-63a9-4a40-9c4a-208976a8cb38
PIPE
    END-POINT       -109127.8849 -224312.1397       0.0000    150   PL
    END-POINT       -107979.3193 -224312.1397       0.0000    150   PL
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 56efa47c-c4f7-4332-9651-929967fc2525
    PIPING-SPEC mExample
    ITEM-CODE EZGQSR60
WELD
    END-POINT       -109127.8849 -224312.1397       0.0000    150     
    END-POINT       -109127.8849 -224312.1397       0.0000    150     
    SKEY WW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER d11c4ec0-a7c8-4079-a0e5-871eef9d8b18
ELBOW
    END-POINT       -109280.2849 -224464.5397       0.0000    150   BW
    END-POINT       -109127.8849 -224312.1397       0.0000    150   BW
    CENTRE-POINT    -109280.2849 -224312.1397       0.0000            
    SKEY ELBW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 9acfe25e-55fa-4a20-9e31-8da372f71878
    PIPING-SPEC mExample
    ITEM-CODE EV8C4CD5
    ANGLE 9000
WELD
    END-POINT       -109280.2849 -224464.5397       0.0000    150     
    END-POINT       -109280.2849 -224464.5397       0.0000    150     
    SKEY WW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 2c8d6b2e-82bf-4641-8904-75456cb9cbb8
PIPE
    END-POINT       -109280.2849 -225597.9525       0.0000    150   PL
    END-POINT       -109280.2849 -224464.5397       0.0000    150   PL
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 817248bc-e3cd-48f7-b556-6dd53224a060
    PIPING-SPEC mExample
    ITEM-CODE EZGQSR60
WELD
    END-POINT       -109280.2849 -225597.9525       0.0000    150     
    END-POINT       -109280.2849 -225597.9525       0.0000    150     
    SKEY WW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 71f06786-716e-4cca-8b9f-a866c968d4e1
ELBOW
    END-POINT       -109508.8849 -225826.5525       0.0000    150   BW
    END-POINT       -109280.2849 -225597.9525       0.0000    150   BW
    CENTRE-POINT    -109280.2849 -225826.5525       0.0000            
    SKEY ELBW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER ebf63525-5c8d-4bdb-86e6-4c733af62ac7
    PIPING-SPEC mExample
    ITEM-CODE 3915UFPN
    ANGLE 9000
WELD
    END-POINT       -109508.8849 -225826.5525       0.0000    150     
    END-POINT       -109508.8849 -225826.5525       0.0000    150     
    SKEY WW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 6b5368cc-a132-423b-b9c0-31101198cbe5
PIPE
    END-POINT       -111269.7377 -225826.5525       0.0000    150   PL
    END-POINT       -109508.8849 -225826.5525       0.0000    150   PL
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 444cc32e-2213-44fb-a5ae-579a36c63b6c
    PIPING-SPEC mExample
    ITEM-CODE EZGQSR60
WELD
    END-POINT       -111269.7377 -225826.5525       0.0000    150     
    END-POINT       -111269.7377 -225826.5525       0.0000    150     
    SKEY WW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER d3282a73-1539-45d0-bc62-a2d1efbbca37
ELBOW
    END-POINT       -111269.7377 -225826.5525       0.0000    150   BW
    END-POINT       -111384.0377 -225857.1791       0.0000    150   BW
    CENTRE-POINT    -111330.9909 -225826.5525       0.0000            
    SKEY ELBW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER d2712ffb-20e5-47a4-982c-ab719d1f7bf8
    PIPING-SPEC mExample
    ITEM-CODE 6RO2KNUB
    ANGLE 3000
WELD
    END-POINT       -111384.0377 -225857.1791       0.0000    150     
    END-POINT       -111384.0377 -225857.1791       0.0000    150     
    SKEY WW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 7a68eec9-631e-4a6e-be30-f0578f51e336
PIPE
    END-POINT       -111384.0377 -225857.1791       0.0000    150   PL
    END-POINT       -113001.5612 -226791.0567       0.0000    150   PL
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 2d5c8245-1091-4325-a5ff-718d1702e070
    PIPING-SPEC mExample
    ITEM-CODE EZGQSR60
WELD
    END-POINT       -113001.5612 -226791.0567       0.0000    150     
    END-POINT       -113001.5612 -226791.0567       0.0000    150     
    SKEY WW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER d3ad4862-ed94-47c4-96a6-da14a5aaaa10
ELBOW
    END-POINT       -113001.5612 -226791.0567       0.0000    150   BW
    END-POINT       -113115.8612 -226821.6833       0.0000    150   BW
    CENTRE-POINT    -113054.6080 -226821.6833       0.0000            
    SKEY ELBW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 95101dd0-0af0-41b6-a133-7c2ca9714852
    PIPING-SPEC mExample
    ITEM-CODE 6RO2KNUB
    ANGLE 3000
WELD
    END-POINT       -113115.8612 -226821.6833       0.0000    150     
    END-POINT       -113115.8612 -226821.6833       0.0000    150     
    SKEY WW
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER bf501079-93ff-473d-b375-0b00f5841573
PIPE
    END-POINT       -113115.8612 -226821.6833       0.0000    150   PL
    END-POINT       -114296.8072 -226821.6833       0.0000    150   PL
    CATEGORY FABRICATION
    INSULATION OFF
    TRACING OFF
    UNIQUE-COMPONENT-IDENTIFIER 594e016e-c91e-403a-839e-e9d5f8ae320f
    PIPING-SPEC mExample
    ITEM-CODE EZGQSR60
MATERIALS
ITEM-CODE EZGQSR60
    DESCRIPTION Pipe, SMLS, SCH.40, PL, STL
ITEM-CODE 3915UFPN
    DESCRIPTION Pipe Elbow 90 Degree Long Radius, BW, SCH.40, STL
ITEM-CODE 3915PKPN
    DESCRIPTION Pipe Elbow 45 Degree Long Radius, BW, SCH.40, STL
ITEM-CODE EV8C4CD5
    DESCRIPTION Pipe Elbow 90 Degree Short Radius, BW, SCH.40, STL
ITEM-CODE 6RO2KNUB
    DESCRIPTION Pipe Elbow 90 Degree Long Radius, BW, SCH.40, STL
