@page "/"
@inject IAccessTokenProvider TokenProvider

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>appsettings.json</code>
</div>

Welcome to your new app.


<p style="width: 100%; word-break: break-all; overflow-wrap: break-word; margin-top: 2%;">
    @(!string.IsNullOrEmpty(_accessToken) ? $"Access Token: Bearer {_accessToken}" : "Please Log in to fetch the access token.")
</p>

@code {

    private string? _accessToken;
    protected override async Task OnInitializedAsync()
    {
        var tokenResult = await TokenProvider.RequestAccessToken();

        if (tokenResult.TryGetToken(out var accessToken))
        {
            Console.WriteLine($"Access Token: Bearer {accessToken.Value}");
            _accessToken = accessToken.Value;
        }
        else
        {
            Console.WriteLine("Failed to obtain access token - Please login.");
        }
    }
}
